<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220211092932-uhlgjlqi0cc9rdpa16tqkohou2ga1ail.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220211092932-uhlgjlqi0cc9rdpa16tqkohou2ga1ail</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>220211092932-3d19so59ubkr4i7s20lqa61viki2f145.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAU2xeNHUJN0_0nhMS2-YUlrX8AUybbKfI</string>
	<key>GCM_SENDER_ID</key>
	<string>220211092932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anime</string>
	<key>PROJECT_ID</key>
	<string>anime-a7f3f</string>
	<key>STORAGE_BUCKET</key>
	<string>anime-a7f3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220211092932:ios:105b8e22cb45bd8eccd891</string>
</dict>
</plist>